@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  background-color: #e0e0e0;
}
html {
  scroll-behavior: smooth;
}
.skill {
  width: 32%;
  font-size: 1.7rem;
  background-color: #828e82;
  color: #e0e0e0;
  border: 2px solid #3a606e;
  border-radius: 5px;
}
.skill:hover {
  background-color: #3a606e;
}

.title {
  padding-top: 40px;
  font-size: 3rem;
}
.logos {
  font-size: 3.3rem;
  width: 20%;
  padding-left: 40%;
  text-align: center;
}
.logo {
  padding: 10px 15px 10px 15px;
  color: #828e82;
}
.logo:hover {
  color: #3a606e;
}
.skills {
  display: flex;
  text-align: center;
  width: 50%;
  flex-wrap: wrap;
  margin-left: 25%;
  padding-left: 9px;
}
.bio {
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  font-size: 2rem;
  border: 10px solid #aaae8e;
  background-color: #3a606e;
  border-radius: 15px;
  scroll-behavior: smooth;
}
.bioText {
  background-color: #3a606e;
  color: #e0e0e0;
  padding: 0 10px 0 10px;
}
header {
  display: flex;
  background-image: url("./mountains.jpg");
  background-position: center;
  width: 100%;
  height: 200px;
}
.lefthead {
  width: 200px;
  font-size: 3rem;
  font-weight: 700;
  padding-left: 10px;
  color: #e0e0e0;
  background-color: transparent;
  letter-spacing: 2px;
}
.righthead {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-left: 50%;
  height: 40px;
  margin-top: 50px;
  color: #e0e0e0;
  background-color: transparent;
  font-weight: 500;
  font-size: 1.2rem;
}
.right {
  width: 100px;
  text-align: center;
  padding-right: 20px;
  background-color: transparent;
  padding-top: 25px;
  color: #e0e0e0;
}
.right:hover {
  color: #828e82;
}
h1 {
  text-align: center;
  width: 40%;
  margin-left: 30%;
  color: #3a606e;
}
h2 {
  padding-top: 100px;
  text-align: center;
  width: 30%;
  margin-left: 35%;
  color: #3a606e;
  font-size: 2.6rem;
}
h3 {
  text-align: center;
  width: 40%;
  color: #3a606e;
  font-size: 1.7rem;
  text-decoration: none;
}
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50%;
  padding-top: 70px;
  padding-bottom: 450px;
}
a:hover {
  color: #828e82;
}
a:link {
  text-decoration: none;
  color: #3a606e;
}
.ptext {
  width: 40%;
  display: flex;
  align-content: center;
  font-size: 1.4rem;
  background-color: #3a606e;
  border: 10px solid #aaae8e;
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
}
.projects {
  display: flex;
  flex-direction: row;
  background-color: #3a606e;
  width: 80%;
  margin-left: 10%;
  color: #e0e0e0;
}
.projecth1 {
  padding-top: 100px;
  font-size: 2.6rem;
}
footer {
  text-align: center;
}

@media (max-width: 600px) {
  .lefthead {
    font-size: 2rem;
    width: 110px;
  }
  .righthead {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    font-size: 1rem;
    margin-left: 180px;
    padding-bottom: 40px;
  }
  .title {
    font-size: 1.7rem;
  }
  .logos {
    font-size: 2.5rem;
    width: 50%;
    padding-left: 25%;
  }
  .bio {
    width: 75%;
    margin-left: 12.5%;
  }
  .bioText {
    font-size: 1.5rem;
  }
  .skills {
    margin-left: 12.5%;
    width: 75%;
  }
  .skill {
    font-size: 1.3rem;
  }
  .ptext {
    font-size: 1.3rem;
    width: 100%;
  }
  h3 {
    font-size: 1.5rem;
    width: 80%;
  }
  .projects {
    display: flex;
    flex-direction: column;
    background-color: #e0e0e0;
    width: 100%;
    padding-left: 25%;
    margin: 0;
    padding-top: 0;
  }
  .project {
    height: 110px;
  }
}

@media (max-width: 400px) {
  .lefthead {
    font-size: 1.5rem;
    width: 80px;
  }
  .righthead {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    font-size: 1rem;
    margin-left: 90px;
    padding-bottom: 40px;
  }
  .title {
    font-size: 1.2rem;
  }
  .logos {
    font-size: 2rem;
    width: 50%;
    padding-left: 25%;
  }
  .bio {
    width: 75%;
    margin-left: 12.5%;
  }
  .bioText {
    font-size: 1.2rem;
  }
  .skills {
    margin-left: 5%;
    width: 90%;
  }
  .skill {
    font-size: 1rem;
  }
  .ptext {
    font-size: 1rem;
    width: 100%;
  }
  h3 {
    font-size: 1.1rem;
    width: 80%;
  }
  .projects {
    display: flex;
    flex-direction: column;
    background-color: #e0e0e0;
    width: 100%;
    padding-left: 25%;
    margin: 0;
    padding-top: 0;
  }
  .project {
    height: 10px;
  }
}
